:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
  /*rose rgb(255, 29, 27)*/
  /*indigo rgb(79, 70, 299)*/
  --size-XXS: 0.5rem;
--size-XS: 0.75rem;
--size-SM: 0.85rem;
--size-base: 1rem;
--size-LG: 1.125rem;
--size-XL: 1.25rem;
--size-2XL: 1.5rem;
--size-3XL: 1.875rem;
--size-4XL: 2.25rem;
--size-5XL: 3rem;
--size-6XL: 3.75rem;
--size-7XL: 5.5rem;
--size-8XL: 6rem;
--size-9XL: 8rem;
--size-10XL: 10rem;
}
.work{
  text-align: center;
}
.work_title{
  font-size: var(--size-2XL);
  color: var(--clr-light);
}
/*sa baba nya yung not(last child eto yung dinya ma a apply sa last child yung css)*/
.work_project:not(:last-child){
  margin-bottom: 5rem;
}
.work_description{
  max-width: 60ch;
  font-size: var(--size-SM);
  color: var(--clr-slate600);
  margin: 1rem auto;
/*kaya sya auto para mapunta sa gitna yung paragraph*/
}
.work_project-title{
  font-size: var(--size-base);
  margin-bottom: 1rem;
}
.work_img-wrapper{
  position: relative;
}
.work_img-wrapper::after{
  content: '';
  background-color: rgba(79, 70, 229, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: backround-color 0.3s;

}
.work_img-wrapper:hover::after{
  background-color: rgba(79, 70, 229, 0.2);

}
.work_project-description1{
  font-size: var(--size-SM);
  color: var(--clr-slate600);
  margin: 1rem 0;
}
.work_project-description2{
  font-size: var(--size-SM);
  color: var(--clr-slate400);
  margin-bottom: 1rem;
}
.work_project-btn{
  font-size: var(--size-SM);
  margin-bottom: 20px;
}
.work_project-subtitle{
  display: none;
}




/*XS*/
@media (min-width: 475px) {
  .work_title{
    font-size: var(--size-3XL);
  }
  .work_description{
    font-size: var(--size-base);
    margin: 1.5rem auto;
  }  
  .work_project-title{
  font-size: var(--size-LG);
  margin-bottom: 1.5rem;
  }
  .work_project-description1{
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }
  .work_project-description2{
    font-size: var(--size-base);
    margin-bottom: 1.5rem;
  }
  .work_project-btn{
    font-size: var(--size-base);
  }
  .work_picture{
    width: 290px;
    margin: 0 auto;
  }
}

/*SM*/
@media (min-width: 640px) {
  .work_container{
    display: grid;
    grid-template-columns: 1fr 1fr; /*para magkapalit yung image at content*/
    place-items: center;
    grid-template-areas: 
    'image1 content1'
    'content2 image2'
    'image3 content3'
    'content4 image4'
    'image5 content5'
    'content6 image6'
    ;
    /*para magkapalit yung image at content*/
  }
  .work_image1{
    grid-area: image1;
  }  /*para magkapalit yung image at content*/
  .work_image2{
    grid-area: image2;
  }
  .work_image3{
    grid-area: image3;
  }
  .work_image4{
    grid-area: image4;
  }
  .work_image5{
    grid-area: image5;
  }
  .work_image6{
    grid-area: image6;
  }
  .work_content1{
    grid-area: content1;
  }
  .work_content2{
    grid-area: content2;
  }
  .work_content3{
    grid-area: content3;
  }
  .work_content4{
    grid-area: content4;
  }
  .work_content5{
    grid-area: content5;
  }
  .work_content6{
    grid-area: content6;
  }
  .work_project{
    padding: 0 1rem;
  }
  .work_project-title{
    display: none;
  }
  .work_project-description1{
    font-size: var(--size-XS);
    margin: 1em 0;
  }
  .work_project-description2{
    font-size: var(--size-XS);
    margin-bottom: 1em;
  }
  .work_project-btn{
    font-size: var(--size-XS);
  }
  .work_project:not(:last-child){
    margin-bottom: 0;
  }
  .work_project-subtitle{
    display: block;
    font-size: var(--size-base);

  }
  .work_picture{
    width: 290px;
  }
}
/*Md*/
@media (min-width: 768px) {
  .work_project-description1{
    font-size: var(--size-SM);
  }
  .work_project-description2{
    font-size: var(--size-SM);
  }
  .work_project-btn{
    font-size: var(--size-SM);
  }
  .work_project-subtitle{
    font-size: var(--size-LG);

  }
  .work_picture{
    width: 300px;
  }
 
}

/*LG*/
@media (min-width: 1024px) {
    .work_title{
    font-size: var(--size-5XL);
  }
  .work_description{
    font-size: var(--size-LG);
  }
  .work_project-description1{
    font-size: var(--size-base);
  }
  .work_project-description2{
    font-size: var(--size-base);
  }
  .work_project-btn{
    font-size: var(--size-base);
  }
  .work_project-subtitle{
    font-size: var(--size-XL);

  }
  .work_picture{
    width: 350px;
  }
}

/*XL*/
@media (min-width: 1280px) {
    .work_title{
    font-size: var(--size-5XL);
  }
  .work_description{
    font-size: var(--size-XL);
    margin: 2rem auto;

  }
  .work_project-description1{
    font-size: var(--size-LG);
  }
  .work_project-description2{
    font-size: var(--size-LG);
  }
  .work_project-btn{
    font-size: var(--size-LG);
  }
  .work_project-subtitle{
    font-size: var(--size-2XL);
  }
  .work_container{
    width: 80%;
    margin: 0 auto;
  }
  .work_picture{
    width: 400px;
  }
  .location_demonslayer{
    width: 1000px;
  }
}

